html, body{
    font-size: 100%;
	 font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

::selection {
    background-color: #333;
    color: #ffffff;
}
/*-- about --*/
.about,.gallery,.services,.team,.agile-dot,.subscribe,.contact{
	padding:8em 0;
}
.about-heading{
	text-align:center;
}
.about-heading h2,.about-heading h3{
    color: #212121;
    margin: 0;
    font-size: 2.5em;
    font-weight: 800;
    position: relative;
    letter-spacing: 2px;
	/* text-transform:uppercase; */
}
.about-heading p{
    color: #505050;
    font-size: .7em;
    margin: 1em 0 0 0;
    letter-spacing: 2px;
    font-weight: 600;
}
/*-- map --*/
.map {
    width: 100%;
    height: 340px;
    border: 1px solid #ff8800;
}

/*-- //map --*/
/*-- contact --*/
.address {
    margin: 4em 0 0 0;
}
.address-grids {
    padding: 0;
}
.address ul {
    padding: 0;
    margin: 0;
}
.address p {
    margin: 0 0 .3em 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.address p span{
	display:block;
}
.address a {
    color: #999999;
    font-size: .9em;
    letter-spacing: 1px;
	text-decoration:none;
}
.address a:hover{
    color: #FF5722;
}
.contact-form{
	margin:4em 0 0 0;
}
.contact-form h4,.address h4,.agileits-w3layouts-map h4{
    color: #2f2f2f;
    font-size: 1em;
    font-weight: 800;
    margin: 0 0 2em 0;

}
.styled-input.agile-styled-input-top {
    margin-top: 0;
}
.contact input[type="text"],.contact textarea{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
	outline: none;
}
.contact input[type="email"]{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
	outline: none;
}

.contact input[type="number"],.contact textarea{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
	outline: none;
}
.contact textarea {
	min-height: 150px;
    resize: none;
}
/*-- input-effect --*/
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #FF5722;
    top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s;
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input input[type="email"]:focus ~ label, .styled-input input[type="email"]:invalid ~ label{
    font-size: .9em;
      color: #FF5722;
     top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s;
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
	width: 49%;
    margin: 2em 0 1em 1em;
    position: relative;
    float: left;
}
.styled-input:nth-child(1),.styled-input:nth-child(3){
	margin-left:0;
}
.textarea-grid{
	float:none !important;
	width:100% !important;
	margin-left:0 !important;
}
.styled-input label {
	color: #8c8c8c;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: .9em;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background: #ff8000;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span {
    bottom: 5px;
}
.styled-input input:focus.styled-input textarea:focus {
	outline: 0;
}
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;
	transition: all 0.075s;
}
/*-- //input-effect --*/
.contact input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .5em 3em;
    font-size: .9em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #ff5722;
    border: 1px solid #FF5722;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.contact input[type="submit"]:hover {
    background-color: transparent;
    color: #212121;
	background:none;
	border: 1px solid #212121;
}
#errorEmail{
	color:red;
	font-size:.9em
}
/*-- //contact --*/
/*-- responsive --*/
@media(max-width:991px){
	.styled-input {
		width: 48%;
	}
	.space-set {
        margin-top: 80px;
	 }
}

@media(max-width:640px){
	.agileits-w3layouts-map iframe {
		height: 300px;
	}
}
@media(max-width:480px){
	.contact input[type="submit"] {
		padding: .5em 2em;
	}
}
@media(max-width:414px){
	.about, .gallery, .services, .team, .agile-dot, .subscribe, .contact {
		padding: 8em 0;
	}
	.about-heading h2, .about-heading h3 {
		font-size: 2em;
	}
	.styled-input {
		width: 100%;
	}
	.styled-input {
		margin: 1em 0 1em 0em;
	}
	.styled-input.agile-styled-input-top {
		margin-top: 1em;
	}
	.styled-input:nth-child(1){
		margin-top:0;
	}
}
@media(max-width:384px){
	.about-heading h2, .about-heading h3 {
		font-size: 1.5em;
	}
}

.fa-angle-down {
	padding-left: 5px;
}

.scaleIn {
	-webkit-animation-name: scaleIn;
	animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scaleIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}