/*
   Table Of Content

   1. Global Style
   2. Preloader
   3. Home Section and Navigation Menu
   4. Social Icons
	 5. Footer
   6. Responsive
*/

/* Global Style */
body {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1px;
	height: 100%;
	font-family: 'Poppins', sans-serif;
}
html,
body {
	height: 100%
}
::selection {
	background-color: #ffffff;
	color: #ffffff;
}
::-moz-selection {
	background-color: #ffffff;
	color: #ffffff;
}

h1,
h2 {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
}

p {
	line-height: 32px;
}

ul,
li {
	margin: 0;
	padding: 0;
}

.container {
	padding-right: 0px;
	padding-left: 13px;
}


/* Preloader */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #ffffff;
	z-index: 99999;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

body.loaded #preloader {
	opacity: 0;
	visibility: hidden;
}

.loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #ff8800;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #ff0000;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

.loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #5cb85c;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/*home container*/
@media (max-width: 767px) {
	#home .container {
		padding-right: 0px;
		padding-left: 13px;
		padding-top: 3px;
		padding-bottom: 13px;
	}
	.row {
		margin-right: 0px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#home .container {
		padding-bottom: 1px;
	}
}

@media (min-width: 992px) {
	#home .container {
		padding-bottom: 5px;
	}
}

/*carousel*/
.carousel,
.item,
.active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.carousel-caption {
	color: #fff;
	right: 0%;
	left: 0%;
	width: 100%;
	bottom: 33%;
}

.item {
	-webkit-transition: .3s;
	transition: .3s;
}


/*iphone5*/
@media only screen and (max-width: 568px) and (orientation: landscape) {
	.carousel-caption {
		bottom: 13%;
		padding-top: 0px;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
	.carousel-caption {
		bottom: 24%;
	}
}

@media only screen and (min-width: 569px) and (max-width: 750px) and (orientation: landscape) {
	.carousel-caption {
		bottom: 15.55%;
	}
}
/*iphone6*/
@media only screen and (max-width: 450px) and (orientation: portrait) {
	.carousel-caption {
		bottom: 38%;
	}
}
/*ipadPro*/
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
	.carousel-caption {
		bottom: 41%;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
	.carousel-caption {
		bottom: 43%;
	}
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	33.3% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes hvr-icon-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	33.3% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.hvr-icon-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-right: 2.2em;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal:before {
	content: "\f061";
	position: absolute;
	right: 1em;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.hvr-icon-wobble-horizontal:hover:before,
.hvr-icon-wobble-horizontal:focus:before,
.hvr-icon-wobble-horizontal:active:before {
	-webkit-animation-name: hvr-icon-wobble-horizontal;
	animation-name: hvr-icon-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
a.read-w3ls {
	text-decoration: none;
	color: #fff;
	padding: 10px 46px 10px 25px;
	background: #000000;
	margin-top: 1.5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-size: 16px;
}

a.read-w3ls:hover {
	background: #bc0023;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
